.BuildControl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
    margin: 0 2px;
    border-radius: 20px;
    width: 50px;
    border: 1px solid rgb(28, 172, 129);
    cursor: pointer;
    outline: none;
}


.BuildControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: rgb(168, 224, 208);
    color: white;
}

.BuildControl .More {
    background-color: rgb(13, 88, 66);
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: rgb(219, 13, 13);
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: rgb(51, 194, 38);
    color: white;
}